select[multiple], select[size] {
    height: 34px;
}


.first-tr > th {
    text-align: center;
}

.tr-table-data > td {
    text-align: center;
}

/*user_list_搜索*/
form.form-inline > .form-control {
    /*font-size: unset;*/
}

/*滚动条div*/
div.scroll-item {
    position: relative;
    overflow: hidden;
    /*overflow-y: hidden;*/
    outline: none;
    height: 500px;
    line-height: 30px;
}

/*页码覆盖*/
div.page > ul > li > a {
    position: unset;
}

.dialog-inner > h3 {
    padding: unset;
}

.dialog-inner > h3 strong {
    font-size: 2em;
    color: #ff5a00;
}

.dialog-inner > h3 > span {
    padding-top: 30px;
    font-size: 22px;
    color: black;
}

.dialog-inner > h3 > p {
    margin-top: 10px;
    font-size: 22px;
    color: black;
}

.dialog-inner > div > button.btn-default {
    background-color: #c8cbcf;
    margin-right: 10px;
    font-size: 25px;
    margin-top: 10px;
    padding: 2px 5px;
}

.dialog-inner > div > button.btn-danger {
    margin-left: 10px;
    font-size: 25px;
    margin-top: 10px;
    padding: 2px 5px;
}

.dialog--open .dialog-inner {
    padding: 0.5em 0.1em 0.5em 0.1em;
    opacity: 1;
    -webkit-transition: opacity .85s .35s;
    transition: opacity .85s .35s;
}

.dialog-inner {
    margin-left: 106px;
    background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    width: 350px;
    height: 250px;
    border-radius: 6px 6px 6px 6px;
}

svg {
    width: 350px;
    height: 250px;
    border-radius: 6px 6px 6px 6px;
}

.scroll-item.table {
    border-spacing: 1px;
}

.my_circle {
    border-radius: 6px 6px 6px 6px;
}

.div .page {
    width: 90%;
    height: 30px;
}

.pagination {
    width: 300px;
    height: 30px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.search-form {
    margin-bottom: 25px;
}

pre {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 9.5px;
    font-size: 13px;
}


a.caret {
    color: green;
}

/*
a.arrow-top {
    font-size: 0;
    line-height: 0;
    border-width: 4.5px;
    border-color: black;
    border-top-width: 0;
    border-style: dashed;
    border-bottom-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    margin-left: 2px;
    vertical-align: middle;
}*/

.button-middle {
    padding: 1em 2em;
    border: 0;
    color: #fff;
    background: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
    /* background: #c94e50; */
    margin: 15px;
}